.DS_Store
*.swp
*.swo
*.pid
*.lock
config/database.yml
config/email.yml
config/application.yml
config/settings.yml
config/secrets.yml
schema.rb
*~
Gemfile.lock
log/*
.idea/*
.ruby-version
tmp/*
tmp/pids/*
public/assets/*
config/secrets.yml
